# macOS
.DS_Store

# Miscs
.env*
tmp
build
dist
target
output

# IDE
*.iml
.idea
.vscode
.*project
.classpath
.settings

#######################################################################################
# Python
#######################################################################################

venv*
.venv*
*.pyc
*$py.class
ext-lib
__pycache__
.jython_cache
.mypy_cache/

#######################################################################################
# Robot Framework
#######################################################################################

log.html
output.xml
report.html
doc/api/_build
doc/libraries/*.html
doc/libraries/*.json
doc/userguide/RobotFrameworkUserGuide.html
src/robotframework.egg-info